include MANIFEST.in
include requirements.txt
include modules.txt
include patches.txt
recursive-include call_intelligence *.py
recursive-include call_intelligence *.json
recursive-include call_intelligence *.js
recursive-include call_intelligence *.css
recursive-include call_intelligence *.html
recursive-include public *
recursive-include www *
recursive-include fixtures *.json
